opencv-python~=4.9.0.80
numpy~=1.26.3
flask~=3.0.0
fastapi~=0.109.0
pydantic~=2.5.3
SQLAlchemy~=2.0.25
uvicorn~=0.25.0
python-dotenv~=1.0.0
alembic~=1.13.1
asyncpg~=0.29.0
python-multipart~=0.0.6
gunicorn~=21.2.0